body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 24px;
  margin: 0;
}
p,
li {
  font-size: 16px;
  line-height: 2;
}

table {
  border: 5px solid black;
}

a {
  color: blue;
  font-size: 16px;
  font-weight: bold;
}
a:visited {
  color: blue;
}
a:hover,
a:active,
a:focus {
  color: darkred;
  text-decoration: none;
}
